export("rsm", "summary.rsm", "plot.rsm")
importFrom("graphics", plot)
importFrom("stats", rmultinom)
importFrom("sna", gplot)

S3method(plot, rsm)
S3method(summary, rsm)

importFrom("graphics", "abline", "barplot", "par")
